@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: black;
}

html {
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

.container {
    height: 100vh;
    width: 100%;
    scroll-snap-align: start;
}

.loadinganimation{
    width: 100%;
    height: 100vh;
    background-color: black;
    z-index: 2;
    position: fixed;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.loadinganimation img {
    width: 100vw;
}

.nav ul{
    display: flex;
    flex-direction: row;
    padding-top: 10vh;
}

.nav ul li {
    margin:auto;
    list-style-type: none;
}

.intro, .intro2 {
    width: 90%;
}

.intro h1, .intro2 h1{
    font-size: 2.5em;
    padding-top: 1em;
    padding-left: 1em;
}

.intro h5 {
    float: right;
    margin-right: 2em;
    color: rgb(0, 195, 255);
}

.main {    
    margin: 3em;
    border: solid white;
    width: 50%;
    height: 10vh;
    border-radius: 50vh;

}

.sub {
    padding: 2em;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
}

.date {
    margin: 2em;
    margin-top: 4em;
    width: 50%;
}

.date h2 {
    font-size: 2em;
}

.detail {
    margin-left: 10%;
    width: 80%;
}

.container2 {
    height: 100vh;
    scroll-snap-align: start;
}

.intro2 {
    padding-top: 8em;
}

.detail2 {
    margin-top: 5vh;
    margin-left: 2em;
    width: 80%;
}


.skills .heading {
    margin: 1em;
    margin-left: 2em;
    font-size: 1em;
}

.skills ul{
    font-family: 'Comfortaa', cursive;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 1em;
    width: 90%;
    list-style-type: none;
    margin-left: 1em;

}
.skills ul li {
    text-align: center;
    margin: 1em;
    /* margin-left: 1em; */
}

.projects {
    display: flex;
    flex-direction: column;
    
}

.projects div {
    width: 75%;
    height: 10vh;
    background-color: white;
    margin: 2.5em;
}

.projects div h1 {
    padding: 1em;
    font-size: 1.5em;
    background-color: white;
    
    color: black;
}

.projects div img {
    display: none;
    background-color: white;
    float: right;
    width: 8vh;
    height: auto;
}

.moreprojs {
    margin: auto;
    margin-top: 5em;
    text-align: center;
    font-size: 1em;
    width: 90%;
    padding-bottom: 10vh;
}

.moreprojs img {
    /* margin: 2em; */
    width: 20vh;
    filter: invert();
    padding: 2em;
    background-color: white;
    animation: blimp 1.5s alternate infinite ;
    cursor: pointer;
}


@keyframes blimp {
    0%{
    transform: scale(1);
    }

    50%{
        transform: scale(1.05);
    }

    100%{
    transform: scale(1);
    }
}


.backhome {
    margin: auto;
    text-align: center;
    margin-top: 5em;
    color: white;
    cursor: pointer;
}

.backhome:hover {
    transform: scale(1.25);
    filter:brightness(200%);
    transition: .5s;
}
.backhome:not(:hover){
    transform: scale(1);
    transition: .5s;
}

ul li{
    cursor: pointer;
}

ul li:hover {
    transform: scale(1.25);
    filter:brightness(200%);
    transition: .4s;
}
ul li:not(:hover){
    transform: scale(1);
    transition: .4s;

}

.contactpage .intro h1 {
    width: 90%;
}

.contactlinks {
    display: flex;
    justify-content: center;
    margin-top: 2.5em;
    width: 100%;
    background-color: white;
}

.contactlinks img {
    background-color: white;
    margin: 2em;
    width: 2em;
    cursor: pointer;
    animation: blimp 1s alternate 2s;
}

.call {
    text-align: center;
    font-size: xx-large;
    margin-top: 3em;
}

.call h6{
    font-size: .5em;
}